---
layout: wrapper
---


<!-- here is where the index.html page renders -->
{{content}}

<section class="portfolio-section">

   <div class="portfolio-section__text">
      <small>my work</small>
      <hr>
      <h1>Portfolio</h1>
   </div>

   

   <div class="portfolio-section__gallery">
      {% for post in site.posts %}
      <a class="portfolio-section__gallery__link" href="{{ post.url }}">

         <div class="portfolio-section__gallery__link__img">
   
            <img src="{{site.baseurl}}/assets/img/{{post.image}}" alt="" />
         </div>

         <div class="portfolio-section__gallery__link__overlay">
     
            <p>{{post.title}}</p>
         </div>
      </a>
      {% endfor %}

   </div>


   
</section>